# Name: Generate Wires

# Description:
# This plugin generates images of Wires with setable length, width and bending distribution.


# Author: Jonas Schatz, Matthias Büchele, ralf Keding
# Version: 3.0
# Date: 2016/03/23
# Requires: ImageJ 1.31s and [ini4j] http://ini4j.sourceforge.net/


Plugins>Wire Generator, "Wire Generator", Wire_Generator_